#contenedor {
    background-color: #fff8f0;
    font-family: Times New Roman, serif;
    font-size: 16px;
}

div.encabezado {
    background-image: url(../imgs/guesteaus.png);
    background-repeat: none;
    color: #5a3e36;
    font-family: Georgia, serif;
    font-size: 36px;
    text-align: center;
    height: 400px;
    background-size: cover;
    background-position: bottom;
}

div.menu {
    background-color: #a77e58;
}

div.menu ul li a:hover {
    color: #5a3e36;
    background-color: #5a3e3675;
    text-decoration: underline;
    font-family: serif;
}

div.menu ul li a {
    background-color: #a77e58;
    color: #ffffff;
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    text-decoration: none;
}

div.contenido {
    background-color: #fff8f0;
    color: #5a3e36;
    font-family: Georgia, serif;
    font-size: 18px;
}

div.sidebar {
    background-color: #ecdcc6;
    color: #5a3e36;
    font-family: Georgia, serif;
    font-size: 18px;
}

div.pie a {
    padding: 10px;
}

div.pie {
    background-color: #5a3e36;
    color: #ecdcc6;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    text-align: center;
}

.menu ul {
    text-align: center;
}

.menu ul li {
    display: inline;
    padding: 5px;
}