* {
    padding: 0px;
    margin: 0px;
}

#contenedor .clearfix {
    overflow: auto;
}

#contenedor {
    clear: none;
    background-color: #fff8f0;
    font-family: Times New Roman, serif;
    font-size: 16px;
    line-height: 40px;
}

div.encabezado {
    background-image: url(../imgs/guesteaus.png);
    background-repeat: none;
    color: #5a3e36;
    font-family: Georgia, serif;
    font-size: 36px;
    text-align: center;
    height: 400px;
    background-size: cover;
    background-position: bottom;
}

div.menu {
    background-color: #a77e58;
}

div.menu ul li a:hover {
    color: #5a3e36;
    background-color: #5a3e3675;
    text-decoration: underline;
    font-family: serif;
}

div.menu ul li a {
    background-color: #a77e58;
    color: #ffffff;
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    text-decoration: none;
}

div.contenido form input[type='text'],input[type='email'],input[type='tel'] {
    border: 1px solid #a77e58;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff8f0;
}

label {
    size: 16px;
    display: block;
}

.error {
    color: red;
    display: block;
}

div.contenido form button[type='submit'] {
    background-color: #5a3e36;
    color: #ffffff;
    padding: 10px 15px;
    border-radius: 5px;
}

div.contenido form button[type='submit']:hover {
    background-color: #a77e58;
}

div.contenido {
    background-color: #fff8f0;
    color: #5a3e36;
    font-family: Georgia, serif;
    font-size: 18px;
    float: left;
    width: 70%;
    padding: 0px;
}

div.sidebar {
    background-color: #ecdcc6;
    color: #5a3e36;
    font-family: Georgia, serif;
    font-size: 18px;
    float: right;
    width: 30%;
}

h1 {
    padding-left: 20px;
}

h2 {
    padding-left: 20px;
}

h3 {
    padding-left: 20px;
}

p {
    padding-left: 50px;
}

.contenido ul {
    padding-left: 50px;
}

.sidebar ul {
    padding-left: 80px;
}

div.pie a {
    padding: 10px;
}

div.pie {
    background-color: #5a3e36;
    color: #ecdcc6;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    text-align: center;
}

.menu ul {
    text-align: center;
}

.menu ul li {
    display: inline;
    padding: 5px;
}